.fix {
	background-repeat : no-repeat;
}

TD {
	FONT-FAMILY: AngsanaUPC;
	FONT-SIZE: 18px;
}	

body {
	FONT-FAMILY: DilleniaUPC;
	FONT-SIZE: 14px;
	color: #708090;
	margin-top: 0;
	margin-left: 0;
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: center top;
	scrollbar-base-color: color;
	scrollbar-track-color: #efe7d1;
	scrollbar-face-color: #F3F0E4;
	scrollbar-highlight-color: #F3F3F3;
	scrollbar-3dlight-color: #CCC999;
	scrollbar-darkshadow-color: #808080;
	scrollbar-shadow-color: #F3F3F3;
	scrollbar-arrow-color: #660000;
	background-image: url(../images/background.jpg);
}
