body
{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	
}
table
{FONT-FAMILY: Tahoma; FONT-SIZE: 13px; COLOR: #000000}

td
{FONT-FAMILY: Tahoma; FONT-SIZE: 13px; COLOR: #000000}


.tah_9
{FONT-FAMILY: Tahoma; FONT-SIZE: 9px;}
.tah_10
{FONT-FAMILY: Tahoma; FONT-SIZE: 10px;}
.tah_12
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px;}
.tah_13
{FONT-FAMILY: Tahoma; FONT-SIZE: 13px;}
.tah_14
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px;}
.tah_15
{FONT-FAMILY: Tahoma; FONT-SIZE: 15px;}

.orange{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 15px;
	color : #FF3300;
}

.Head
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #000000}
.submenu_select
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #FF3FA7}
.tab_title
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #424242}


a:link,a:active,a:visited{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 13px;
	COLOR: #0099ff;
	TEXT-DECORATION: none;
}


A.topmenu 
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
A.topmenu:visited
{FONT-FAMILY: Tahoma; FONT-SIZE: 10px; FONT-WEIGHT: bold; COLOR: #FFFFFF; TEXT-DECORATION: none}
A.topmenu:hover
{FONT-FAMILY: Tahoma; FONT-SIZE: 10px; FONT-WEIGHT: bold; COLOR: #FFFFFF; TEXT-DECORATION: none}

A.submenu 
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px; FONT-WEIGHT: none; COLOR: #636363; TEXT-DECORATION: underline}
A.submenu:visited
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px; FONT-WEIGHT: none; COLOR: #636363; TEXT-DECORATION: underline}
A.submenu:hover
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px; FONT-WEIGHT: none; COLOR: #636363; TEXT-DECORATION: none}

.button {
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	padding:0px;
	font-size: 12px;
	height:23;
	color: #FFFFFF;
	background-image: url(../images/button.gif);
}


.i_background {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #d4d0c8
}
.i_background01 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eaeaea
}
.i_background02 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.i_background03 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ececec
}
.i_background04 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #fafafa
}
.i_background041 {
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: black;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #FFC0CB;
}
.i_background05 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #fffff0
}
.i_backgroundRed {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ff8c00
}
.i_backgroundBlue {
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: #ffffff;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #708090;
}

.i_backgroundGreen {
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: Black;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #90EE90;
}

.i_backgroundPink {
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: Black;
	BORDER-BOTTOM: #ffffff 1px solid;
	BACKGROUND-COLOR: #FFC0CB;
}

.i_header {
	padding:5px;

	BORDER-TOP: #7e7e7e 1px solid;

	COLOR: #121212;
	BORDER-BOTTOM: #7e7e7e 1px solid;
	BACKGROUND-COLOR: #ebebeb;
	height:20px;
}

.i_Excel {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.report_blue {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #4682b4; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.i_blueSmallHeader {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #4682b4
}
.listPrintTitle {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: Black;
	BORDER-BOTTOM: gray 1px solid;
	BACKGROUND-COLOR: transparent;
	background: #DBDBDB;
}

.listPrintTitle01 {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}


.listPrintDetail {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}

A.link01 
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	FONT-WEIGHT: none;
	COLOR: #636363;
	TEXT-DECORATION: none;
}
A.link01:visited
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	FONT-WEIGHT: none;
	COLOR: #636363;
	TEXT-DECORATION: none;
}
A.link01:hover
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	FONT-WEIGHT: none;
	COLOR: #636363;
	TEXT-DECORATION: underline;
}


A.link02 
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	FONT-WEIGHT: none;
	COLOR: Maroon;
	TEXT-DECORATION: none;
}
A.link02:visited
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	FONT-WEIGHT: none;
	COLOR: Maroon;
	TEXT-DECORATION: none;
}
A.link02:hover
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	FONT-WEIGHT: none;
	COLOR: Maroon;
	TEXT-DECORATION: underline;
}

.insurance_tab_1{
	width: 150px;
	color: Black;
	background-image : url(../images/insurance_tab_bg1.jpg);
	BORDER-TOP: 1px solid #0362C0;
}

.insurance_tab{
	color: Black;
	background-image : url(../images/insurance_tab_bg1.jpg);
	BORDER-TOP: 1px solid #0362C0;
}

.insurance_tab_2{
	width: 150px;
	height: 31px;
	color: Black;
	background-image : url(../images/insurance_tab_bg2.jpg);
	cursor:pointer;
	BORDER-TOP: gray 1px solid; 
}


.insurance_tab_3{
	color: Black;
	background-image : url(../images/insurance_tab_bg.jpg);
	background-repeat : repeat-x;
	BORDER-RIGHT: 1px solid #c0c0c0;
	BORDER-LEFT: 1px solid #c0c0c0;
	COLOR: black;
	BORDER-BOTTOM: 1px solid #c0c0c0;
}

.insurance_dot{
	color: Black;
	BORDER-RIGHT: 1px dotted Black;
	BORDER-TOP: 1px dotted Black;
	BORDER-LEFT: 1px dotted Black;
	BORDER-BOTTOM: 1px dotted Black;
}

.insurance_dot_red{
	color: Black;
	BORDER-RIGHT: 1px dotted Red;
	BORDER-TOP: 1px dotted Red;
	BORDER-LEFT: 1px dotted Red;
	BORDER-BOTTOM: 1px dotted Red;
}

.insurance_tab_4{
	color: Black;
	background-image : url(../images/insurance_tab_bg4.jpg);
	background-repeat : repeat-x;
}

.titleHeaderInsurance{
	color: Gray;
}