body
{
	BACKGROUND: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	FONT-FAMILY: Tahoma; FONT-SIZE: 9px;
}
table
{FONT-FAMILY: Tahoma; FONT-SIZE: 9px; COLOR: #000000}
td{
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px;
}
.tah_9
{FONT-FAMILY: Tahoma; FONT-SIZE: 9px;}
.tah_10
{FONT-FAMILY: Tahoma; FONT-SIZE: 10px;}
.tah_12
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px;}
.tah_13
{FONT-FAMILY: Tahoma; FONT-SIZE: 13px;}
.tah_14
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px;}
.tah_15
{FONT-FAMILY: Tahoma; FONT-SIZE: 15px;}

.Head
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #000000}
.submenu_select
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #FF3FA7}
.tab_title
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #424242}


A.topmenu 
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
A.topmenu:visited
{FONT-FAMILY: Tahoma; FONT-SIZE: 10px; FONT-WEIGHT: bold; COLOR: #FFFFFF; TEXT-DECORATION: none}
A.topmenu:hover
{FONT-FAMILY: Tahoma; FONT-SIZE: 10px; FONT-WEIGHT: bold; COLOR: #FFFFFF; TEXT-DECORATION: none}

A.submenu 
{FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: none; COLOR: #636363; TEXT-DECORATION: underline}
A.submenu:visited
{FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: none; COLOR: #636363; TEXT-DECORATION: underline}
A.submenu:hover
{FONT-FAMILY: Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: none; COLOR: #636363; TEXT-DECORATION: none}

.button {
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	padding:0px;
	font-size: 12px;
	height:23;
	color: #FFFFFF;
	background-image: url(../images/button.gif);
}


.i_background {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #d4d0c8
}
.i_background01 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eaeaea
}
.i_background02 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.i_background03 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ececec
}
.i_background04 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #fafafa
}
.i_background041 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #fdfdfd
}
.i_background05 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: black; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #fffff0
}
.i_backgroundRed {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ff8c00
}
.i_backgroundBlue {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: gray
}
.i_Excel {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.report_blue {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #4682b4; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.i_blueSmallHeader {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #4682b4
}

.listTitle {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}

.listTitle01 {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}


.listDetail {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; COLOR: black; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}

.listDetail01 {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BORDER-BOTTOM: gray 1px solid;
	BACKGROUND-COLOR: transparent;
	background: #E4E4E4;
}

.listDetail02 {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: gray 1px solid; c
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BORDER-BOTTOM: gray 1px solid;
	BACKGROUND-COLOR: transparent;
	background: #D3D3D3;
}

.listDetail03 {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BORDER-BOTTOM: gray 1px solid;
	BACKGROUND-COLOR: transparent;
	background: #BFBFBF;
}