.fix {
	background-repeat : no-repeat;
}

.head_normal {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: #850D88;
}
.headProduct {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: White;
	font-weight: bold;
}

select{
	
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px;
}

.title {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: #6495ED;
	font-weight: bold;
}

.titleWhite {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 20px;
	color: White;
	font-weight: bold;
}

.bluery {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: #2BA9DC;	
}

.orangery {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: #FF8C00;
}

.titleBlackBlue {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: #483D8B;
	font-weight: bold;
}

.titleOrange {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	color: #FF8C00;
	font-weight: bold;
}

a.Orange:link{
	color: #FF8C00;
	text-decoration: none;
	font-size: 12px;
}
a.Orange:visited{
	color: #FF8C00;
	text-decoration: none;
	font-size : 12px;	
}
a.Orange:active. {
	color: #FF8C00;
	text-decoration: none;
	font-size : 12px;
}
a.Orange:hover{
	color: #FF8C00;
	text-decoration: underline;
	font-size: 12px;
}

a.white:link{
	color: White;
	text-decoration: none;
	font-size: 12px;
}
a.white:visited{
	color: White;
	text-decoration: none;
	font-size : 12px;	
}
a.white:active. {
	color: White;
	text-decoration: none;
	font-size : 12px;
}
a.white:hover{
	color: White;
	text-decoration: underline;
	font-size: 12px;
}

a.gray:link{
	color: Silver;
	text-decoration: none;
	font-size: 12px;
}
a.gray:visited{
	color: Silver;
	text-decoration: none;
	font-size : 12px;	
}
a.gray:active. {
	color: Silver;
	text-decoration: none;
	font-size : 12px;
}
a.gray:hover{
	color: Silver;
	text-decoration: underline;
	font-size: 12px;
}



.error{
	color: red;
	text-decoration: none;
	font-size : 12px;	
}

TD.ListTitle  {
	background-color: #DDDDDD;
	text-decoration: none;
	color: Black;
	font-weight: bold;
}

TD.ListTitle01  {
	background-color: #FFB6C1;
	text-decoration: none;
	color: Black;
	font-weight: bold;
}

TD.ListDetail {
	background-color: #F1F1F1;
	color: Black;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	
}
TD.ListDetail01 {
	background-color: #DDDDDD;
	color: Black;
}
	
TD.ListDetail02 {
	background-color: #FFFFB9;
	color: Black;
}	
	
TD.ListDetail03 {
	background-color: #DEB887;
	color: Black;
}	
	
TD.ListDetail04 {
	background-color: #BDB76B;
	color: Black;
}		
	
TD.ListDetail05 {
	background-color: #B0C4DE;
	color: Black;
}		
	
TD.ListTitle06  {
	background-color: #FF9E79;
	text-decoration: none;
	color: Black;
	font-weight: bold;
}	
	
TD.ListDetail06 {
	background-color: #FFE8E8;
	color: Black;
}			
	
.white {
	color: White;
}	

.INPUT {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: Black;
	FONT: 11px "Arial, Helvetica, sans-serif";
	text-align: left;
	padding-left: 5px;
}



INPUT.Login {
	BORDER: 1px solid #8E8277;
	background-color : #FFFFFF;
	font-size: 12px;
	font-family : Arial, Helvetica, sans-serif;
}

TABLE.search {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : Black;
	border : 1px solid Silver;
}

TABLE.search01 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : Red;
	border : 1px solid Silver;
}

a.paging:link, a.paging:visited, a.paging:hoover {  font-size : 12px;  color : #666666;   }
.paging {  font-size : 12px;  color : #B85856;  font-weight : bold;    }
.count { font-size: 10pt;color: #666666; }

TABLE.bord { border : 1px solid #C0C0C0;    }	

.pageTitle {
	font-size : 12px;
	font-weight : bold;
	color : #660000;
}
.subTitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #660000;
}

body,table,tr,td{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : Black; 
}


TD.ListTitleSmall  {
	background-color : #efe7d1;
	text-decoration : none;
	color : #808080;
	font-size : 9px;
}

TD.ListDetailSmall {
	background-color : #F3F3F3;
	font-size : 9px;
}

.footer { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: Gray; }

.error {
	font-family : Arial, Helvetica, sans-serif;
	color : Red;
	background-color: transparent;
	}
.recommend {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;	
}

.suggest {
	color: #0000FF;
}
	
TABLE.yellow { border : 1px solid #C0C0C0;    }
TH.yellow {	background-color : #FFCF31;
	color: #FFFFFF;}
TD.yellow {	background-color : #EFEFEF;}
LI.yellow {	list-style-type : square;
		color : #FFCF31;}

TABLE.orange { border : 1px solid #C0C0C0;    }
TH.orange {	background-color : #FF9A00;
	color: #FFFFFF;}
TD.orange {	background-color : #EFEFEF;}
LI.orange {	list-style-type : square;
		color : #FF9A00;}

TABLE.blue { border : 1px solid #C0C0C0;    }
TH.blue {	background-color : #639ACE;
	color: #FFFFFF;}
TD.blue {	background-color : #EFEFEF;}
LI.blue {	list-style-type : square;
		color : #639ACE;}

TABLE.green { border : 1px solid #C0C0C0;    }
TH.green {	background-color : #9CCF00;
	color: #FFFFFF;}
TD.green {	background-color : #EFEFEF;}
LI.green {	list-style-type : square;
		color : #9CCF00;}

TABLE.purple { border : 1px solid #C0C0C0;    }
TH.purple {	background-color : #B927DD;
	color: #FFFFFF;}
TD.purple {	background-color : #EFEFEF;}
LI.purple {	list-style-type : square;
		color : #B927DD;}

TABLE.gray { border : 1px solid #C0C0C0;    }
TH.gray {	background-color : #8B7B74;
	color: #FFFFFF;}
TD.gray {	background-color : #EFEFEF;}
LI.gray {	list-style-type : square;
		color : #8B7B74;}

td.small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight : normal;
}

.titleHeader{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font: bold;
	color: #483D8B;
	background-color : #F2F2FF;
}

.titleHeader01{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font: bold;
	color: #CD5C5C;
	background-color : #FAEBD7;
}

.remark{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font: bold;
	color: #CD5C5C;
}

.i_background{
	color: #000000;
	background-color: #E0DFDE;	
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.i_background01{
	color: #000000;
	background-color: White;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.i_background02{
	color: #000000;
	background-color: White;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.i_background03{
	color: Black;
	background-color: transparent;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.i_background04{
	color: Black;
	bbackground-color: White;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.i_background041{
	color: Black;
	background-color: #D3D3D3;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.i_background05{
	color: Black;
	background-color: White;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.i_backgroundRed{
	color: #ffffff;
	background-color: #FF8C00;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.i_background_pink{
	color: #DC143C;
	background-color: #FDC6E6;
	border-left: 1px solid #FFB6C1;
	border-right: 1px solid #FFB6C1;
	border-top: 1px solid #FFB6C1;
}

.i_backgroundBlue{
	color: #ffffff;
	background-color: Gray;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.i_Excel{
	color: Black;
	background-color: transparent;
	border-bottom: 1px solid Gray;
	border-left: 1px solid Gray;
	border-right: 1px solid Gray;
	border-top: 1px solid Gray;
}
.small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight : normal;
}

.report_blue{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight : normal;
	color : #4682B4;
}

.i_blueSmallHeader{
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #4682B4;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.cell{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}

.cell1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}

.cell2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.cell3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.cell4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
}

.cell5{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.cell6{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.cell7{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.cell8{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	

	border-right: 1px solid #000;
	border-top: 1px solid #000;

}

.cell9{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-top: 1px solid #000;

}

.cell10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	

	border-right: 1px solid #000;
	border-bottom: 1px solid #000;

}

.cell11{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	border-bottom: 1px solid #000;

}


TD.ListTitle04  {
	background-color: Navy;
	text-decoration: none;
	color: White;
	font-weight: normal;
}

TD.ListDetail04  {
	background-color: #D3D3D3;
	text-decoration: none;
	color: Black;
}

TD.ListTitle05  {
	background-color: #4169E1;
	text-decoration: none;
	color: White;
	font-weight: normal;
}

TD.ListDetail05  {
	background-color: #C4C4FF;
	text-decoration: none;
	color: Black;
}


TD.ListTitle06  {
	background-color: #6495ED;
	text-decoration: none;
	color: White;
	font-weight: normal;
}

TD.ListDetail06  {
	background-color: #E6E6FF;
	text-decoration: none;
	color: Black;
}