body
{
	BACKGROUND: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px;
}
table
{FONT-FAMILY: Tahoma; FONT-SIZE: 11px; COLOR: #000000}

td{

	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;

	FONT-FAMILY: Tahoma; FONT-SIZE: 11px;
}

td.noborder{
	COLOR: black;
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px;
}

.noborder{
	COLOR: black;
	FONT-FAMILY: Tahoma; FONT-SIZE: 11px;
}


.Head
{FONT-FAMILY: Tahoma; FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #000000}

.listTitle {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BACKGROUND-COLOR: #EEEEEE;
}

.listTitle01 {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}


.listDetail {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}

.listDetail01 {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
	background: #E4E4E4;
}

.listDetail02 {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BACKGROUND-COLOR: #F6F6F6;
}

.listDetail03 {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BACKGROUND-COLOR: #ECECEC;
}

table.search {
	BORDER-BOTTOM: gray 1px solid;
	BORDER-RIGHT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}