body
{
	BACKGROUND: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	FONT-FAMILY: Tahoma; FONT-SIZE: 12px;
}
table
{FONT-FAMILY: Tahoma; FONT-SIZE: 12px; COLOR: #000000}

td{

	COLOR: black;
	FONT-FAMILY: Tahoma; FONT-SIZE: 12px;
}

.18font {

	COLOR: black;
	FONT-FAMILY: Tahoma; FONT-SIZE: 16px;
}

td.noborder{
	COLOR: black;
	FONT-FAMILY: Tahoma; FONT-SIZE: 12px;
}

.noborder{
	COLOR: black;
	FONT-FAMILY: Tahoma; FONT-SIZE: 12px;
}


.Head
{FONT-FAMILY: Tahoma; FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #000000}

.listTitle {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BACKGROUND-COLOR: #EEEEEE;
}

.listTitle01 {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}

.listTitleRight {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	BORDER-RIGHT: gray 1px solid; 
	COLOR: black;
	BACKGROUND-COLOR: #EEEEEE;
}

.listTitleBottomRight {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	BORDER-RIGHT: gray 1px solid; 
	BORDER-BOTTOM: gray 1px solid; 
	COLOR: black;
	BACKGROUND-COLOR: #EEEEEE;
}

.listTitleBottom {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	BORDER-BOTTOM: gray 1px solid; 
	COLOR: black;
	BACKGROUND-COLOR: #EEEEEE;
}


.listDetail {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}

.listDetailSmall {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	FONT-SIZE: 10px; 	
	BACKGROUND-COLOR: transparent
}

.listDetailSmallRight {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	BORDER-RIGHT: gray 1px solid; 
	COLOR: black; 
	FONT-SIZE: 10px; 	
	BACKGROUND-COLOR: transparent
}

.listDetailRight {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	BORDER-RIGHT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}

.listDetailAll {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 

	BORDER-BOTTOM: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}

.listDetailAllRight {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	BORDER-RIGHT: gray 1px solid; 
	BORDER-BOTTOM: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}

.listDetail01 {
	BORDER-TOP: gray 1px solid; 
	BORDER-LEFT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
	background: #E4E4E4;
}

.listDetail02 {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BACKGROUND-COLOR: #F6F6F6;
}

.listDetail03 {
	BORDER-TOP: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	COLOR: black;
	BACKGROUND-COLOR: #ECECEC;
}

table.search {
	BORDER-BOTTOM: gray 1px solid;
	BORDER-RIGHT: gray 1px solid; 
	COLOR: black; 
	BACKGROUND-COLOR: transparent
}